@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #545454;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(117, 117, 117);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}
