@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #cdcdcd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

@layer utilities {
  .vertical-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
